[buildout]
newest = false
prefer-final = true
parts = eggs
develop = .

[eggs]
recipe = z3c.recipe.scripts
eggs =
    django-awesome-snippets
    Sphinx
    unittest2
    coverage
    nose
extra-paths =
    tests
initialization = 
    import os
    os.environ['DJANGO_SETTINGS_MODULE'] = 'settings'

